// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highgray-color-light: transparent;
}

body {
  background: $gray-color-light;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
  width: 100%;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:hover,
  &:active,
  &.active {
    color: $link-color-dark;
    text-decoration: none;
  }
}


#mc_embed_signup {
  clear:left;
  width:100%;
}

#mce-EMAIL {
  font-size: 18px !important;
  padding: 11px !important;
  height: auto !important;
  border: 2px solid $gray-color !important;
  transition: 0.3s ease all !important;
  &:focus {
    border: 2px solid $primary-color !important;
  }
}

#mc-embedded-subscribe {
  background-color: $primary-color !important;
  padding: 10px 30px !important;
  height: auto !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  &:hover {
    background-color: $primary-color-dark !important;
  }
}